/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html {
    font-family: "Whitney", sans-serif;
    font-size: 62.5%;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Container */
.container{
    width: 80%;
    margin: 0 auto;
}

/* Text */
.title{
    font-size: 5em;
    font-weight: bold;
}

.text{
    font-size: 1.8em;
}

/* Buttons */
.button{
    border-radius: 50px;
}

.button.small{
    padding: .6em 1em;
    font-size: 1em;
}

.button.big{
    padding: .7em 1.5em;
    font-size: 2em;
}

/* Header */
header{
    background-color: #255ee9;
}

/* Nav */
.column{
    float: left;
    height: 70px;
    line-height: 70px;
    font-size: 1.6em;
}

.column.left,
.column.right{
    width: 15%;
    text-align: left;
}

.column.right{
    text-align: right;
}

.column.center{
    width: 70%;
    text-align: center;
}

nav img[alt="logo discord"]{
    height: 50px;
    vertical-align: middle;
}

nav li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
}

nav li a{
    color: white;
}


.column.right .button{
    vertical-align: middle;
    color: black;
    background-color: white;
}


/* Main */

/* Banner */
.banner{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
}

.container-banner-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container-banner-text .title,
.container-banner-text .text{
    text-align: center;
    color: white;
}

.container-banner-text .title{
    padding-bottom: 1em;
}

.container-banner-text .text{
    line-height: 1.3em;
}

.container-buttons{
    text-align: center;
    margin: 4em 0;
}

.container-buttons :first-child{
    background-color: white;
    color: black;
    margin: 0 1.5em;
}

.container-buttons :nth-child(2){
    background-color: #23272a;
    color: white;
    margin: 0 1.5em;
}

