/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html {
    font-family: "Whitney", sans-serif;
    font-size: 62.5%;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Container */
.container{
    width: 70%;
    margin: 0 auto;
}

/* Text */
.title{
    font-size: 5em;
    font-weight: bold;
    color: #23272a;
}

p.text{
    font-size: 1.8em;
    line-height: 1.6em;
    color: #23272a;
}

/* Buttons */
.button{
    border-radius: 50px;
}

.button.small{
    padding: .6em 1em;
    font-size: 1em;
}

.button.big{
    padding: .7em 1.5em;
    font-size: 2em;
}
/* Column */
.column{
    float: left;
}

/* Header */
header{
    background-color: #255ee9;
}

/* Nav */
nav .column{
    height: 70px;
    line-height: 70px;
    font-size: 1.6em;
}

nav .column.left,
nav .column.right{
    width: 15%;
    text-align: left;
}

nav .column.right{
    text-align: right;
}

nav .column.center{
    width: 70%;
    text-align: center;
}

nav img[alt="logo discord"]{
    height: 50px;
    vertical-align: middle;
}

nav li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
}

nav li a{
    color: white;
}


.column.right .button{
    vertical-align: middle;
    color: black;
    background-color: white;
}


/* Main */

/* Banner */
.banner{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
}

.banner .container{
    padding: 100px 200px;
}

.container-banner-text .title,
.container-banner-text .text{
    text-align: center;
    color: white;
}

.container-banner-text .title{
    padding-bottom: 1em;
}

.container-buttons{
    text-align: center;
    margin: 4em 0;
}

/* Migliorare la freccetta nel primo bottone grande */
.container-buttons :first-child{
    background-color: white;
    color: black;
    margin: 0 1.5em;
}

.container-buttons :nth-child(2){
    background-color: #23272a;
    color: white;
    margin: 0 1.5em;
}

/* Section*/
.column.img{
    width: 65%;
    text-align: center;
}

.column.img img{
    width: 70%;
    object-fit: cover;
    margin: 10em 0;
}

.column.text{
    width: 35%;
    margin: 10em 0;
}

p.text{
    padding-top: 2em;
}

/* Background section 3 5*/
main section:nth-child(even){
    background-color: #f6f6f6;
}

/* Waves */
main section:nth-child(3)::before{
    content: url(../img/wave.svg);
    color: #f6f6f6;
}

main section:nth-child(3)::after{
    content: url(../img/wave.svg);
    color: white;
}

main section:nth-child(4)::after{
    content: url(../img/wave.svg);
    color: #f6f6f6;
}

/* Section 5 */
.bigger-section{
    padding: 10em 0;
    text-align: center;
    background-color: #f6f6f6;
}

.container-img{
    padding: 5em 0 3em;
}

.container-text::before{
    content: url(../img/stars.svg);
}

.container-text{
    padding-bottom: 5em;
}

.bigger-section h3{
    font-size: 2.5em;
}

.bigger-section a{
    background-color:#8ea1e1 ;
    color: white;
}

/* Footrer */
